
<%= link_to("New Picture", "/pictures/new") %>
<h1>Most Recent Pictures</h1>
<ul>
  <% @most_recent_pictures.each do |picture| %>
    <li><h3><%= picture.title %></h3></li>
    <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
  <% end %>
</ul>

<h1>Pictures By Year</h1>
<% @all_pictures_by_year.each do |year, pictures| %>
  <h2><%= year %></h2>
  <% pictures.each do |picture| %>
    <%= link_to(image_tag(picture.url), "/pictures/#{picture.id}") %>
  <% end %>
<% end %>

<hr>
<hr>
<hr>

<h1>Most recent pictures</h1>
